/* Hide Streamlit default elements */
#MainMenu {visibility: hidden;}
header {visibility: hidden;}
footer {visibility: hidden;}
.st-emotion-cache-pm2o43 {
    position: relative;
    display: block;
}
.st-emotion-cache-6zpx5x {
    position: relative;
    display: block;
}